{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load lookup %}

{% load staticfiles%}
{% load bootstrap4%}
{% block extra_header%}{% endblock%}
{% block app_header_css%}

{% block extra_head %}
{% load alert_state %}
{% load plotly_dash %}
    
  <meta property="og:image"
        content="http://info.dengue.mat.br/static/img/screenshot.png"/>
  <meta property="og:image:secure_url"
        content="https://info.dengue.mat.br/static/img/screenshot.png"/>

  <link href="/static/css/dash-app-custom.css" rel="stylesheet" type="text/css">

  <script src="/static/js/Autolinker.min.js" type="text/javascript"></script>
  <script src="/static/libs/jquery/jquery.sparkline.min.js"
          type="text/javascript"></script>
  
  <script src="/static/js/infodengue.js"
          type="text/javascript"></script>

<style type="text/css">

</style>

{% plotly_header %}

{% endblock %}

{% block title %}{{state}}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-sm">
      
            <div class="dash-app-choropleth">
            <iframe src="/django_plotly_dash/app/dash_choropleth/" style="
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 500px;
            " frameborder="0"> {% plotly_app name="dash_choropleth" %}
            </iframe>

            </div>

            <div class="dash-app-disease">
            <iframe src="/django_plotly_dash/app/dash_app_disease/" style="
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            " frameborder="0">     
                  {% plotly_app name="dash_app_disease" %}
            </iframe>

            </div>
            <div class="dash-app-epyear">
            <iframe src="/django_plotly_dash/app/dash_app_epyears/" style="
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 500px;
            " frameborder="0"> {% plotly_app name="dash_app_epyears" %}
            </iframe>

            </div>
      </div>
  </div>
</div>  

<!-- Ends Block Content -->
{% endblock %}
{% plotly_footer %} 

<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="pleaseWaitWindow" tabindex="-1"
    role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span> {% blocktrans %}Por favor, aguarde.{% endblocktrans %}
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ends Here -->
{% endblock %}