{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load lookup %}
{% load plotly_dash %}

   {% load staticfiles%}
   {% load bootstrap4%}
   {% bootstrap_css%}
   {% bootstrap_javascript jquery="full"%}
   {% block extra_header%}{% endblock%}
   {% block app_header_css%}

{% block extra_head %}
    {% load alert_state %}
    
  <meta property="og:image"
        content="http://info.dengue.mat.br/static/img/screenshot.png"/>
  <meta property="og:image:secure_url"
        content="https://info.dengue.mat.br/static/img/screenshot.png"/>

  <link href="/static/css/dash-app-custom.css" rel="stylesheet" type="text/css">

  <script src="/static/js/Autolinker.min.js" type="text/javascript"></script>
  <script src="/static/libs/jquery/jquery.sparkline.min.js"
          type="text/javascript"></script>
  
  <script src="/static/js/infodengue.js"
          type="text/javascript"></script>

  {% comment %} <style type="text/css">

  </style> {% endcomment %}

{% plotly_header %}

{% endblock %}
{% block title %}{{state}}{% endblock %}

{% block content %}


{% plotly_app name="dash_app_disease" %}
  

<!-- Modal ends Here -->
{% endblock %}
 {% endblock %} 
{% plotly_footer %} 