{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Equipe" %}{% endblock %}

{% block extra_head %}
<link href="{% static 'frontend/assets/team.css' %}" rel="stylesheet">
<script type="module" src="{% static 'frontend/team.js' %}"></script>
{% endblock %}

{% block content %}
<div id="team-react-root"></div>
{{ team_page_props|json_script:"team-page-props" }}
<noscript>
  <p>{% translate "Ative o JavaScript para visualizar a equipe do Infodengue." %}</p>
</noscript>
{% endblock %}
